@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;


}

body {
    display: flex;
    background-color: #010f1d;
    min-height: 100vh;

}

.sideBar {
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 115px;
    height: 100vh;
    padding: 0 1.7rem;
    color: #000;
    overflow: hidden;
    background-color: #fff;
    transition: width 0.5s ease;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);

}

.sideBar:hover {
    width: 240px;
    transition: 0.5s;
}

.logo {
    height: 80px;
    padding: 16px;
}

.menu {
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}

.menu li {
    padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.menu li:hover {
    background: #0D7CE7;
}


.menu a {
    color: #b9b5b5;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.menu a span {
    overflow: hidden;
}

.main-content {
    flex: 1;
    position: relative;
    background: #FAFAFA;
    width: 100%;
    padding: 1rem;

}

.header-wraper img {
    width: 50px;
    height: 50%;
    cursor: pointer;
    border-radius: 50%;

}

.header-wraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #FFFF;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
}

.header-tittle {
    color: #070606;
}

.content {
    display: flex;
    gap: 2rem;
    align-items: center;

    color: #E0E0E0;
}

.content>a {
    text-decoration: none;
    color: #252424;
}

.content>a:hover {
    color: #0D7CE7;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 1;

}

.search-box {
    background: rgb(237, 237, 237);
    border-radius: 15px;
    color: rgb(113, 99, 186, 255);
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px;
}

.search-box input {
    background: transparent;
    padding: 10px;

}

.search-box i {
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.search-box i:hover {
    transform: scale(1.1);
}

.bell {
    margin: 15px;
    display: flex;
}




h1,
h2 {
    text-align: center;
    color: #828282;
}

form {
    display: flex;
    gap: 10px;
}

.title {
    display: flex;
    padding-left: 100px;
    margin-bottom: 3rem;
    margin-top: 3rem;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

input,
button {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    background-color: white;
    color: rgb(181, 178, 178);
    cursor: pointer;
    padding-inline: 1rem;
    font-size: smaller;
    text-transform: uppercase;


}

.button:hover {
    color: #0D7CE7;
}


.task-list {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e9ecef;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.cont {
    display: flex;
    gap: 2rem;

}

.userinfo,
.dateinfo {
    display: flex;
    align-items: center;
    gap: 1rem;

}

.userinfo img {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    border-radius: 100%;
    background: red;

}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.card {
    border: rgb(215, 210, 210) 0.5px solid;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    border-radius: 0.25rem;

}

.dateinfo {

    align-items: center;
    gap: 8px;
}

.dateinfo i.fa-clock {
    font-size: 16px;
    color: #6c757d;
    margin-left: 5px;
}

.task-date {
    font-size: 14px;
    color: #6c757d;

}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}


.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.list-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
}

.list-header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
    border-bottom: #b9b5b5 1px solid;
}